<div data-cy="modal-add" class="addTodo">
    <header>
        <h4 data-cy="modal-add-title">Tamabah List Item</h4>

        <mat-icon data-cy="modal-add-close-button" (click)="close()">close</mat-icon>
    </header>

    <main>
        <form>
            <p data-cy="modal-add-name-title">NAMA LIST ITEM</p>
            <input [(ngModel)]="dataTodoPost.title" (input)="cekListItem()" name="nama" type="text"
                placeholder="Tambahkan nama list item" data-cy="modal-add-name-input">
        </form>

        <form>
            <p data-cy="modal-add-priority-title">PRIORITY</p>
            <button data-cy="modal-add-priority-dropdown" class="priority"
                [matMenuTriggerFor]="menu">{{dataTodoPost.priority}}</button>
            <mat-menu #menu>
                <button data-cy="modal-add-priority-item" mat-menu-item (click)="dataTodoPost.priority='very-high'">Very
                    High</button>
                <button data-cy="modal-add-priority-item" mat-menu-item
                    (click)="dataTodoPost.priority='high'">High</button>
                <button data-cy="modal-add-priority-item" mat-menu-item
                    (click)="dataTodoPost.priority='normal'">Medium</button>
                <button data-cy="modal-add-priority-item" mat-menu-item
                    (click)="dataTodoPost.priority='low'">Low</button>
                <button data-cy="modal-add-priority-item" mat-menu-item (click)="dataTodoPost.priority='very-low'">Very
                    Low</button>
            </mat-menu>
        </form>
    </main>

    <footer>
        <button [disabled]="!isListItem" class="save" data-cy="modal-add-save-button" (click)="simpan()">Simpan</button>
    </footer>
</div>