<div class="container" *ngIf="!isInformation">
    <div class="icon">
        <img src="../../../assets/modal-delete-icon.svg" alt="delete-icon" data-cy="modal-delete-icon">
    </div>
    <div class="message">
        <p data-cy="modal-delete-title">
            Apakah anda yakin menghapus
            <span *ngIf="isActivity">activity <b>"New Activity"</b></span>
            <span *ngIf="!isActivity">item <b>"{{dataDelete.title}}"</b></span>?
        </p>
    </div>
    <div class="actions">
        <button class="batal" [mat-dialog-close]="undefined" data-cy="modal-delete-cancel-button">Batal</button>
        <button class="hapus" (click)="hapus()" data-cy="modal-delete-confirm-button">Hapus</button>
    </div>
</div>

<div class="information" *ngIf="isInformation">
    <img src="../../../assets/modal-information-icon.svg" alt="information" data-cy="modal-information-icon">
    <span data-cy="modal-information-title">
        <span *ngIf="isActivity">Activity</span>
        <span *ngIf="!isActivity">Item</span>
        berhasil dihapus
    </span>
</div>